@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}

@media (max-width:400px) {
  .mobil-400 {
    width: 200px;
    height: 300px;
  }
}

img {
  width: 100%; 
  height: auto;
}

.tooltip {
  position: relative;
  /* display: inline-block; */
}

.tooltip::after {
  content: "GitHub"; /* Текст подсказки */
  position: absolute;
  bottom: 120%; /* Расположение над иконкой */
  left: 50%;
  transform: translateX(-50%);
  background-color: #02072d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.tooltipWeb::after {
  content: "Go to WebSite";
}